.cloud/*
!.cloud
.storage/*
!.storage
blueprints/*
!blueprints
custom_components/*
!custom_components
deps/*
!deps
www/community
home-assistant.log*
home-assistant_v2*
.idea
.HA_VERSION
scenes.yaml
scripts.yaml
secrets.yaml
automations.yaml

